.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}

/* table, th, td{
  border: 4px solid black;
  border-collapse: collapse;
} */

h1{
  font-family: 'Inter';
font-size: 32px;
font-weight: 700;
line-height: 39px;
letter-spacing: 0em;
}
img{
  height: 100%;
  width: 100%;
}
